<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yekong.im">

    <application  android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ce565b12829467dd71343a22c0139b70" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yekong.mymoduleandroid.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity android:name=".activity.ConversationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yekong.mymoduleandroid"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SystemNotifyActivity" />
    </application>

</manifest>